<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grand Theft Auto 5</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">

</head>
<body>
<center><img src="https://wallpaperaccess.com/full/707074.jpg" width="900" height="600"></center><br>
    <div class="col-5 offset-4">
<h2><b>Welcome to Los Santos</b></h2><br>
<h6>When a young street hustler, a retired bank robber, and a terrifying<br><br>
psychopath find themselves entangled with some of the most<br><br>
frightening and deranged elements of the criminal underworld, the<br><br>
U.S. government, and the entertainment industry, they must pull off a<br><br>
series of dangerous heists to survive in a ruthless city in which they<br><br>
can trust nobody — least of all each other.<br><br><br><br><br>
    Current players can transfer both GTAV Story Mode progress and<br><br>
    GTA Online characters and progression to PlayStation 5 and Xbox<br><br>
    Series X|S with a one-time migration.</h6><br><br>
    </div>
<center><img src="https://wallpaperaccess.com/full/707059.jpg" width="900" height="600"></center><br>

    <div class="col-5 offset-4">
<h2><b>Stunning Visuals</b></h2><br>
<h6>Enhanced levels of fidelity and performance with new graphics<br><br>
    modes featuring up to 4K resolution, up to 60 frames per second,<br><br>
    HDR options, ray tracing, improved texture qualities, and more.</h6><br><br>
    </div>
<center><img src="https://wallpaperaccess.com/full/644476.jpg" width="900" height="600"></center><br>


    <div class="col-5 offset-4">
<h2><b>Faster Loading</b></h2><br>
<h6>Quicker access to the action as the world of Los Santos and Blaine<br><br>
    County load in faster than ever before.</h6><br><br>
    </div>
<center><img src="https://wallpaperaccess.com/full/120394.jpg" width="900" height="600"></center><br>
    <div class="col-5 offset-4">
<h2><b>Immersive Controls</b></h2><br>
<h6>Feel new levels of responsiveness with Haptic Feedback and<br><br>
    dynamic resistance via the Adaptive Triggers on PlayStation 5's<br><br>
    DualSense wireless controller, from directional damage to weather<br><br>
    effects, rough road surfaces to explosions, and much more.</h6><br><br>
    </div>
<center><img src="https://wallpaperaccess.com/full/707180.jpg" width="900" height="600"></center><br>
    <div class="col-5 offset-4">
<h2><b>3D Audio</b></h2><br>
<h6>Hear the sounds of the world with pinpoint precision: the throttle of a<br><br>
    stolen supercar, the rattle of neighboring gunfire, the roar of a<br><br>
    helicopter overhead, and more</h6><br><br>
    </div>
<center><img src="https://wallpaperaccess.com/full/707174.jpg" width="900" height="600"></center><br>
<center>
<div class="container-fluid">
    <div class="col-5">
    <div class="card" style="width:22rem;" >
        <img class="card-img-top" src="https://m.media-amazon.com/images/I/916T5H6sCtL._SX466_.jpg" alt="image">
        <div class="card-body">
            <h4 class="card-title" style="color:#000000">Grand Theft Auto</h4>
            <p class="card-text" style="color:#000000">Includes GTAV Story Mode & GTA Online<br>
            Offer Price:2799/-</p>
            <a href="{% url 'checkout'%}" class="btn btn-primary">Buy Now!</a>
        </div>
    </div>
    </div>
</center>
<h6><b><center>Sha Games</center></b></h6>
</div>
</div>
</body>
</html>